<div id="<%= dom_id applicant %>">
  <p>
    <strong>Name:</strong>
    <%= applicant.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= applicant.cpf %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= applicant.birth_date %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= applicant.street %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= applicant.number %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= applicant.neighborhood %>
  </p>

  <p>
    <strong>City:</strong>
    <%= applicant.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= applicant.state %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= applicant.zip_code %>
  </p>

  <p>
    <strong>Personal phone:</strong>
    <%= applicant.personal_phone %>
  </p>

  <p>
    <strong>Reference phone:</strong>
    <%= applicant.reference_phone %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= applicant.salary %>
  </p>

</div>
