<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Desconto Inss Api" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/nav" %>
    <%= render "shared/notice_alert" %>
    <%= yield %>
    
    <footer class="footer mt-auto py-3 bg-dark text-light fixed-bottom">
      <div class="container text-center">
        <p class="mb-0">&copy; 2025 Desconto INSS. Todos os direitos reservados.</p>
      </div>
    </footer>
  </body>
</html>
